# IDE and editor settings
/.idea/
/.vscode/

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
/.venv/

# Generated media and data files
audio.mp3
/margerine.mp4
testvideos/
/original_scripts/

# Temporary files
*.log
*.jpg
*.txt

dev-test.py
Old stuff/frame-extractor-multithread.py
Old stuff/frame-extractor-multi-process.py
Old stuff/frame-extractor-pool.py
Old stuff/frame-extractor.py
touhou.mp4
20260626-2252-21.7555298.mp4
